/* General styles */
@font-face {
    font-family: 'Corinthia';
    src: url('/content/fonts/Corinthia-Regular.ttf') format('truetype');
}

html, body {
    /*background: linear-gradient(to top, #2c003e, #b19cd9);*/
    background-color: #ffffff;
    height: 100%;
    text-align: center;
    font-style: normal;
    /*color:#ffffff*/
}

/* Header styles*/
header {
    color: black;
    padding: 10px 0;
    text-align: center;
}
h2, h3 {
    font-family: 'Corinthia';
    font-size: 24px;
    color: #000000;
    text-align: center;
}

a {
    text-align: center;
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Corinthia';
    font-size: 16px;
    color: var(--button-text);
    background-color: var(--button-background);
    text-align: center;
    text-decoration: none;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

/* Instagram */
.button-instagram {
    --button-text: #ffffff;
    --button-background: #6349ff;
}
/* Facebook */
.button-facebook {
    --button-text: #ffffff;
    --button-background: #6349ff;
}
/* YouTube */
.button-youtube {
    --button-text: #ffffff;
    --button-background: #6349ff;
}*

/* Font color styles 
body {
    font-family: 'Corintha';
    color:#ffffff;
    background-color: linear-gradient(to bottom, #2c003e, #b19cd9);
    margin: 0;
    padding: 0;
}*/



/* Navigation styles */
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #555;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Footer styles 
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}*/